; https://github.com/Rhyred/SilentSDDM
; Forked and customized version for Garuda Linux
; Original: https://github.com/uiriansan/SilentSDDM

[SddmGreeterTheme]
Name=Silent (Rhyred Custom)
Type=sddm-theme
Description=A very customizable SDDM theme optimized for Garuda Linux.
License=GPL-3.0-or-later
Version=1.3.0-rhyred
Theme-Id=silent
Theme-API=2.0
MainScript=Main.qml
Screenshot=docs/previews/default.png
TranslationsDirectory=translations
QtVersion=6

ConfigFile=configs/default.conf
; ConfigFile=configs/default-left.conf
; ConfigFile=configs/default-right.conf
; ConfigFile=configs/rei.conf
; ConfigFile=configs/ken.conf
; ConfigFile=configs/silvia.conf
; ConfigFile=configs/catppuccin-latte.conf
; ConfigFile=configs/catppuccin-frappe.conf
; ConfigFile=configs/catppuccin-macchiato.conf
; ConfigFile=configs/catppuccin-mocha.conf
